*{
    margin: 0%;
    padding: 0%;
}
marquee{
    background-image: url("./image/combo-pizza-offer.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
marquee img{
    border-radius: 2em;
}
.header{
    margin-top: 20px;
    align-items: center;
}

.header img{
    margin-left:100px;
}
.header ul{
    text-decoration: none;
    text-align: center;
    list-style: none;
    display: block;
    display: inline;
    font-family: sans-serif;
    margin-left: 50px;
    text-transform: uppercase;

    
}
.header ul li{ 
    margin-left: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: rgb(62, 42, 241);
}
.button{
    text-decoration: none;
    border: 1px solid red;
    background-color: red;
    color: white;
    width: 200px;
    height: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 100px;
    padding-left: 10px;
    padding-right: 10px;
}
.banner{
    margin-top: 20px;
    background-color: rgb(103, 67, 233);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
   
}
.try h1{
    margin-top:100px;
    margin-left: 50px;
    font-size: 35px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
}
.pera{
    margin-left: 50px;
    font-family: sans-serif;
    color: rgb(201, 186, 186);
}
.now{
    margin-left: 50px;
    margin-top: 20px;
}
.now a{
    color: white;
    font-family: sans-serif;
    border: 1px solid rgb(0, 255, 98);
    background-color: rgb(0, 255, 98);
    text-decoration: none;
    width: 400px;
    height: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 142px;
    padding-right: 142px;
} 
a img{
    margin-left: 50px; 
}
.ret img{
    width: 700px;
    margin-top: 61px;
    margin-left: 169px;

}
.coup{
    margin-top: 50px;
    font-family: sans-serif;
    font-size: 30px;
    margin-left: 40px;
    color: slateblue;
}
.slide img{
    margin-left: 40px;

}
.explore{
    margin-top: 50px;
    font-family: sans-serif;
    font-size: 30px;
    margin-left: 40px;
    color: slateblue;  
}

.explore0{
    margin-top:20px;
    display: flex;
    justify-content:space-around;
    text-align: center;
     font-family: sans-serif;
}
.explore0 p{
    font-family: sans-serif;
    text-transform: capitalize;
    color: rgb(138, 129, 129);
}
.explore1{
    border: 1px dotted grey;
    width: 250px;
    height: 170px;
    padding-top: 20px;
   
}
.explore1 h1{
    font-size: 20px;
    text-transform: uppercase;
    color: tomato;
}
.find{
    margin-top: 28px;
    margin-left:-1px;
    border: 1px dotted grey;
    width: 240px;
    padding: 5px;
    text-transform: uppercase;
    color: red;
}
.explore2{
    border: 1px dotted grey;
    width: 250px;
    height: 170px;
    padding-top: 20px;

} 
.explore2 h1{
    font-size: 20px;
    text-transform: uppercase;
    color: tomato;
}
.find2{
    margin-top: 24px;
    margin-left:-1px;
    border: 1px dotted grey;
    width: 240px;
    padding: 5px;
    text-transform: uppercase;
    color: red;
}
.explore3{
    border: 1px dotted grey;
    width: 250px;
    height: 170px;
    padding-top: 20px;
}
.explore3 h1{
    font-size: 20px;
    text-transform: uppercase;
    color: tomato;
}
.find3{
    margin-top: 8px;
    margin-left:-1px;
    border: 1px dotted grey;
    width: 240px;
    padding: 5px;
    text-transform: uppercase; 
    color: red;
}
.explore4{
    border: 1px dotted grey;
    width: 250px;
    height: 170px;
    padding-top: 20px;
}
.explore4 h1{
    font-size: 20px;
    text-transform: uppercase;
    color: tomato;
}
.find4{
    margin-top: 31px;
    margin-left:-1px;
    border: 1px dotted grey;
    width: 240px;
    padding: 5px;
    text-transform: uppercase; 
    color: red;
}
.phone{
    margin-top: 70px;
    background-color: rosybrown;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
.new-app img{
    width: 350px;
    margin-top: 57px;
}
.google-play{
    margin-top: 60px;
}
.google-play h1{
    font-family: sans-serif;
    font-size: 50px;
    color: white;
}
.google-play p{
    font-family: sans-serif;
    color: white;
}
.div2{
    margin-left: -50px;
}
.domino{
margin-top: 50px;
margin-left: 40px;
}
.domino h1{
    font-family: sans-serif;
    color: blueviolet;
}
.domino p{
    font-family: sans-serif;
    color: rgb(77, 72, 72);
}
.domino1{
    margin-top: 50px;
    margin-left: 40px;
}
.domino1 h1{
    font-family: sans-serif;
    color: blueviolet;
}
.domino1 p{
    font-family: sans-serif;
    color: rgb(77, 72, 72);
}
.domino2{
    margin-top: 50px;
    margin-left: 40px; 
}
.domino2 h1{
    font-family: sans-serif;
    color: blueviolet;  
}
.domino2 p{
    font-family: sans-serif;
    color: rgb(77, 72, 72); 
}
.domino3{
    margin-top: 50px;
    margin-left: 40px;  
}
.domino3 h1{
    font-family: sans-serif;
    color: blueviolet;   
}
.domino3 p{
    font-family: sans-serif;
    color: rgb(77, 72, 72); 
}
.faq{
    margin-top: 50px;
    margin-left: 10px;  
}
.faq h1{
    font-family: sans-serif;
    color: blueviolet; 
}
.faq p{
    font-family: sans-serif;
    font-size: 15px;
    margin-left: 20px;
}
.submit{
    margin-top: 50px;
    margin-left: 20px;
    font-family: sans-serif;

}
.footer{
    margin-top: 50px;
    background-image:linear-gradient(rgba(69, 22, 196, 0.6),rgba(69, 22, 196, 0.6)), url(./image/wp6905611.webp);
    background-size: cover;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-evenly;


}
.footermenu{
    margin-top: 50px;
 
}
.footermenu h1{
    font-family: sans-serif;
    color: white;
}
.footermenu ul{
    text-decoration: none;
    display: block;
    display: inline;
    list-style: none;
}
.footermenu ul li{
    text-decoration: none;
    display: block;
    color: white;
    font-family: sans-serif;
    line-height: 30px;
}
.footermenu1{
    margin-top: 50px;
}
.footermenu1 h1{
    font-family: sans-serif;
    color: white;  
}
.footermenu1 ul{
    text-decoration: none;
    display: block;
    display: inline;
    list-style: none;
}
.footermenu1 ul li{
    text-decoration: none;
    display: block;
    color: white;
    font-family: sans-serif;
    line-height: 30px;
}
.footermenu2{
    margin-top: 50px; 
    text-decoration: none;
    list-style: none;
    display: block;
    display:inline;
    color: white;
}
.footermenu2 a{
    text-decoration: none;
    list-style: none;
    display: block;
    color: white; 
    font-family: sans-serif;
}
.footermenu2 h1{
    font-family: sans-serif;
    color: white; 
}

.footermenu3{
    margin-top: 50px; 
}
.footermenu3 h1{
    font-family: sans-serif;
    color: white; 
} 
.footermenu3 ul{
    text-decoration: none;
    display: block;
    display: inline;
    list-style: none; 
}
.footermenu3 ul li{
    text-decoration: none;
    display: block;
    color: white;
    font-family: sans-serif;
    line-height: 30px; 
}

.footermenu4{
    margin-top: 50px; 
}
.footermenu4 h1{
    font-family: sans-serif;
    color: white; 
}  
.footermenu4 ul{
    text-decoration: none;
    display: block;
    display: inline;
    list-style: none; 
} 
.footermenu4 ul li{
    text-decoration: none;
    display: block;
    color: white;
    font-family: sans-serif;
    line-height: 30px;  
}
.footermenu5{
    margin-top: 50px; 
}
.footermenu5 h1{
    font-family: sans-serif;
    color: white;  
}
.avneesh{
    background-color: blueviolet;
}
.avneesh h1{
    font-family: sans-serif;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    color: white;
}

